@tailwind base;
@tailwind components;
@tailwind utilities;
body,html{
    overflow-x: hidden ;
}
*::-webkit-scrollbar {
    width: 3px;
  }
  *::-webkit-scrollbar-track {
    background: #000814;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #afb2bf;
    border-radius: 10px;
    visibility: hidden;
  }
  
  *:active::-webkit-scrollbar-thumb,
  *:focus::-webkit-scrollbar-thumb,
  *:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  .spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid #f1f2ff;
    animation: spinner-bulqg1 0.8s infinite linear alternate,
      spinner-oaa3wk 1.6s infinite linear;
  }

  .section_heading {
    @apply text-2xl font-bold text-richblack-700 lg:text-4xl;
  }
  .swiper-slide {
    width: 100%;
    height: 100%;
  }